rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    match /properties/{property} {
      allow read: if true;
      allow write: if false;
    }
    match /jobs/{job} {
      allow read, write: if false;
    }
  }
}